################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Download/bin
/Download/obj
/Installer/bin
/Installer/obj
/Restore/bin
/Restore/obj
